.converter{
     height: 100%;
      width: 80%;
      position: absolute;
      top: 0;
      right: 150px;
      left: 0;
      z-index: -1;
      background-repeat: no-repeat;
      background-size: cover;
      opacity: 0.1;
}

.converter-icon{
      width: 100px;
}

.form-control , .btn{
      height: 60px;
      font-size: x-large;
}